<div class="container">
    <label class="mt-4" for="riesgo">Nivel de riesgo:</label>
  <select class="form-control" name="" id="riesgo" [(ngModel)]="riesgo" (change)="methodFinal(riesgo)">
    <option *ngFor="let x of zonaDeforestacion" [ngValue]="x">{{
      x.nivel_riesgo
    }}</option>
  </select>

  <div style="text-align:center" class="mt-4">
    <h2 [hidden]="value">Animales de riesgo <span style="color: red;">{{riesgoTitle}}</span> en la ciudad de {{subtitle}}</h2>
    <google-chart
      #chart
      [title]="title"
      [type]="type"
      [data]="data"
      [columnNames]="columnNames"
      [options]="options"
      [width]="width"
      [height]="height"
    >
    </google-chart>
  </div>
</div>
